@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.primaryblk-button {
  @apply font-normal text-[16px] bg-[#000000] text-[#fff] rounded-[10px] text-center min-h-[20px] cursor-pointer px-4 py-2;
}
.loader {
  position: absolute;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-component > li {
  @apply list-none text-[18px] hover:underline hover:underline-offset-8 cursor-pointer;
}
